.DS_Store
*[Bb]uild/
.idea/
.repos/
xcuserdata/
project.xcworkspace/
*.old
*.exe
.bootstrap.auto/
.bootstrap.local/
dependencies/
mulle-configuration/
tmp/
research/
addictions/
mulle-tests/
tests/include/
tests/lib/
/bin/mulle-homebrew/
tests/vararg/char/double_char
tests/vararg/char/int_char
tests/vararg/char/longlong_char
tests/vararg/char/pointer_char
tests/vararg/count/count
tests/vararg/double/double_double
tests/vararg/double/int_double
tests/vararg/double/longlong_double
tests/vararg/double/pointer_double
tests/vararg/int/char_int
tests/vararg/int/double_int
tests/vararg/int/int_int
tests/vararg/int/longlong_int
tests/vararg/int/pointer_int
tests/vararg/longlong/double_longlong
tests/vararg/longlong/int_longlong
tests/vararg/longlong/longlong_longlong
tests/vararg/longlong/pointer_longlong
tests/vararg/pointer/double_pointer
tests/vararg/pointer/int_pointer
tests/vararg/pointer/longlong_pointer
/tests/mulle-tests/
*.exe.debug
*.exe.debug.dSYM
