.DS_Store
*[Bb]uild/
.idea/
.repos/
xcuserdata/
project.xcworkspace/
*.old
*.exe
.bootstrap.auto/
.bootstrap.local/
dependencies/
mulle-configuration/
tmp/
research/
addictions/
mulle-tests/
tests/include/
tests/lib/
