{
   project =
   {
      description="⏪ Access variable arguments in struct layout fashion in C";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-vararg";
      user="mulle-c";
      repo="mulle-vararg";
      homepage="https://github.com/mulle-c/mulle-vararg";
      license="BSD-3-Clause";
      version="1.2.2"
   };
   dependencies =
   (
      {
         description="🔀 Cross-platform C compiler glue (and some cpp conveniences)";
         domain="github";
         name="mulle-c11";
         repo="mulle-c11";
         url="https://github.com/mulle-c/mulle-c11";
         user="mulle-c";
      }
   );
}
